body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* Your existing styles */
  cursor: none; /* Hide the mouse cursor */
  position: relative;
  width: 600px;
  height: 400px;
  background-color: black;
  border: 2px solid white;
  margin-bottom: 50px; /* Add margin at the bottom for scoreboard */
}

#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

#paddle {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 10px;
  background-color: white;
}

#score {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  z-index: 1; /* Ensure the score counter is above other elements */
}

#startButton {
  position: absolute;
  top: calc(70% + 10px); /* Adjust the position above the scoreboard */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 30px;
  z-index: 1; /* Ensure the start button is above other elements */
}

#startButton:hover {
  background-color: white;
  color: black;
}

#initialsModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#initialsModal input {
  margin-right: 10px;
}

#initialsModal button {
  padding: 5px 10px;
}

#scoreBoard {
  position: absolute;
  top: calc(130%);
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  z-index: 1; /* Ensure the scoreboard is above other elements */
}

/* CSS for the reset button */
#resetScoreboardBtn {
  position: absolute;
  top: calc(120% + 20px); /* Adjust the position below the scoreboard */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 1; /* Ensure the reset button is above other elements */
}

#resetScoreboardBtn:hover {
  background-color: white;
  color: black;
}

#goToMain {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

#goToMain:hover {
  background-color: white;
  color: black;
}
